@charset "UTF-8";

* {
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 16px;
}

.container {
    display: grid;
    grid-template-columns: 1fr minmax(280px, 300px) 1fr;
    grid-template-rows:
        1fr
        [username] 60px
        [name] auto
        [about] auto
        [icons-row] auto
        [list1] auto
        [list2] auto
        [list3] auto
        [list4] auto;
    grid-row-gap: 10px;
    row-gap: 10px;
}

.container > * {
    grid-column: 2 / 3;
}

h1 {
    grid-row: username;
    font-size: 2.3em;
    font-family: 'Marck Script', cursive;
    justify-self: center;
    align-self: center;
}

h2 {
    grid-row: name;
    font-size: 1em;
    font-weight: normal;
}

p {
    grid-row: about;
}

.icons {
    grid-row: icons-row;
    font-size: 1.8em;
    display: flex;
    justify-content: space-evenly;
}

a {
    color: darkgray;
    text-decoration: none;
}

.lists {
    font-size: 1.5em;
    border: darkgray 0.1em solid;
    border-radius: 0.75em;
}

.lists > a {
    display: inline-block;
    
}

.techblog {
    grid-row: list1;
}

.note {
    grid-row: list2;
}

.atcoder {
    grid-row: list3;
}

.scrapbox-kyopro {
    grid-row: list4;
}